/* -- CSD340 Assignment bioSite, Tyler O'Riley, 06/20/2023  -- */

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
header {
    background-color: #335c67;
    font-size: 30px;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* -- Universal Navbar  -- */

#navbar {
    overflow: hidden;
    background-color: #fff3b0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}
#navbar a {
    display: block;
    color: #38302E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: #9DBBAE;
    color: #fff;
}
#image-text-gallery {
    margin-top: 5%;
}

/* -- Universal Grid Setup  -- */

.facts-entries {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 500px 500px 500px;
    justify-content: space-evenly;
}

/* -- Hobbies Grid  -- */

.dnd {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

}
.pokemon {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.film {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.dndText {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}
p.pokemonText {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
p.filmText {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* -- About Grid  -- */

.gotg {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

}
.spidey {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.ttw {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
p.gotgText {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

}
p.spideyText {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
p.ttwText {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

/* -- Index Page Grid Setup  -- */

.gentry-entries {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
}
.gentry {
    grid-column-start: 1;
    grid-column-end: 1;
}
.gentryText {
    grid-column-start: 2;
    grid-column-end: 2;
    align-items: start;
}

/* -- Universal Footer  -- */

footer {
    display: block;
    background-color: #fff3b0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer a {
    display: block;
    color: #38302E;
    text-align: center;
    text-decoration: none;
}
footer a:hover {
    background-color: #9DBBAE;
    color: #fff;
}


